@page "/login"

<p>
    <label>Nome</label>
    <input type="text">
</p>
<p>
    <label>Senha</label>
    <input type="password">
</p>

<p>
    <label>Data de nascimento</label>
    <input type="date">
</p>

<p>
    <label>Nome de usuario</label>
    <input type="text">
</p>
<button onclick="@CreateAccount"> Criar conta</button>

@code
{
    public void CreateAccount()
    {
        

    }
}