@page "/login"
@using Services;
<div>
<p>
    <label>Nome</label>
    <input type="text" @bind-value = "@Nome"/>
</p>
<p>
    <label>Senha</label>
    <input type="password" @bind-value = "@senha"/>
</p>

<p>
    <label>Data de nascimento</label>
    <input type="date" @bind-value = "@data"/>
</p>

<p>
    <label>Nome de usuario</label> 
    <input type="text" @bind-value = "@userId"/>
</p>
<button @onclick="CreateAccount"> Criar conta</button>
</div>
@code
{
    private string Nome;
    private string senha;
    private DateTime data;
    private string userId;
    public async void CreateAccount()
    {
       UserServices service = new UserServices("https://localhost:7213/");
      await service.Register(this.Nome,this.senha,this.data, this.userId);
    }
}